/* Cuando el checkbox está marcado */
.reservation__label_checkbox:checked + .reservation__pseudo-item_type_checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  /* Imagen aleatoria como fondo */
  background-image: url(../images/check.svg);
  background-size: cover; /* Ajusta la imagen al tamaño del checkbox */
}

/* Cuando el checkbox está deshabilitado */
.reservation__label_checkbox:disabled
  + .reservation__pseudo-item_type_checkbox {
  border: 1px solid gray;
}

/* Cuando el checkbox está deshabilitado y marcado */
.reservation__label_checkbox:disabled:checked
  + .reservation__pseudo-item_type_checkbox {
  /* Imagen aleatoria como fondo */
  background-image: url(../images/check.svg);
  background-size: cover; /* Ajusta la imagen al tamaño del checkbox */
}

/* Cuando el checkbox está enfocado */
.reservation__label_checkbox:focus + .reservation__pseudo-item_type_checkbox {
  box-shadow: 0 0 5px #fff6c5;
}
