body,
h1,
h2,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.page {
  margin: auto;
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, sans-serif;
  /*font-family: "Noto Serif", "Times New Roman", serif;*/
  font-size: 16px;
  line-height: 20px;

  /*Valores predeterminados que sirven a varios estilos
    font-weight: normal (Equivale a 400)*/
  font-style: normal;
  font-weight: normal;
  z-index: 0;
}

.header {
  /*Ajustes de imagen de fondo*/
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /**/

  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  /*padding: 30px 80px 40px;*/
  position: relative;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  margin: 30px 0 0 30px;
  width: 105px;
  height: 39px;
}

/*-----------------------*/
/*Nav: Links*/
.nav__links {
  display: flex;
  justify-content: space-between;
  margin: 30px 80px 0 0;
  gap: 20px;
  list-style-type: none;
  padding-left: 0;
}

.nav__link {
  /*Estilo grafico de los enlaces*/
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #2f80ed;
}

/*Header: Title + Imagen*/
/*---------------------------*/
.header__content {
}

/*Etiqueta especial de estilo*/
.header__title {
  display: flex;
  flex-direction: column;
  margin: 183px 0 0 80px;
  max-width: 709px;

  font-family: "Inter", Arial, Sans-serif;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
}

/*Titulo Superior*/
.header__title-span {
  font-family: "Noto Serif";
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

/*Titulo: Descripcion*/
.header__description {
  max-width: 683px;
  margin: 20px 0 0 80px;
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

/*Titulo: Imagen*/
.header__image {
  /*Imagen es hijo directo de Clase Header con position: absolute*/
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}
/*-------------------------------*/

/*Header: Footer*/
/*---------------------------*/
.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.header__schedules {
  margin: 0 0 40px 80px;
  display: block;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__address {
  margin: 0 80px 40px 0;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
/**/

/*----------------------------------------------------------*/
/*.content {
}*/

.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.recipes__title {
  justify-items: flex-start;
  max-width: 580px;
  margin: 100px 0 0 80px;

  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  justify-items: flex-start;
  max-width: 438px;
  margin: 24px 0 0 80px;

  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 80px 0 215px 0;
  gap: 40px;
}

.recipes__video-item {
  flex-direction: column;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 0;

  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

/*---------------------------------------------------------------*/
.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  color: #000000;
}

.reservation__title {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 80px;

  font-family: "inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation__form {
  max-width: 385px;
  width: 100%;
  margin: 0 0 120px;
}

.reservation__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
}

/*Display:block para que los nombres esten en linea*/
.reservation__label {
  margin: 0 0 8px;
  display: block;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  display: flex;
}

/*Ajuste de casilla de verificacion por flexbox*/

.reservation__item {
  border-radius: 4px;
  height: 60px;
  margin: 0 0 32px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.reservation__item[type="datetime-local"] {
  padding: 0 0 0 20px;
  margin: 0 0 32px 0;
}

/*Padding para mover los textos de placeholder*/
.reservation__item::placeholder {
  padding-top: 15px;
  padding-left: 20px;
}

/*PREFIJO DE PROVEEDOR DE SAFARI*/
.reservation__item::-webkit-input-placeholder {
  padding-top: 15px;
  padding-left: 20px;
}
/*MOZILLA*/
.reservation__item::-moz-placeholder {
  padding-top: 15px;
  padding-left: 20px;
}

/*MICROSOFT*/
.reservation__item::-ms-input-placeholder {
  padding-top: 15px;
  padding-left: 20px;
}

/*Campos de entrada*/

/*Campo de botones*/
.reservation__button {
  border-radius: 4px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #ffffff;

  height: 60px;
  margin: 0 0 32px;
}

.reservation__button:hover {
  opacity: 0.7;
}

/* Casilla Checkbox */
.reservation__fieldset_checkbox {
  border: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.reservation__label_checkbox {
  margin: 0;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

/* Aplicar margen derecho al texto */
.reservation__label_checkbox::before {
  margin-right: 12px; /* Separación de 12px */
}

.reservation__item_el_checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin: 0;
  background-color: #2f80ed;
  /* Imagen aleatoria como fondo */
  background-image: url(../images/check.svg);
  background-size: cover; /* Ajusta la imagen al tamaño del checkbox */
}

.reservation__pseudo-item {
  display: inline-block; /* Permite especificar el ancho y la altura del elemento span */
  vertical-align: middle;
}

/* Cuando el checkbox está marcado */
.reservation__label_checkbox:checked + .reservation__pseudo-item_type_checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  /* Imagen aleatoria como fondo */
  background-image: url(../images/check.svg);
  background-size: cover; /* Ajusta la imagen al tamaño del checkbox */
}

/* Cuando el checkbox está deshabilitado */
.reservation__label_checkbox:disabled
  + .reservation__pseudo-item_type_checkbox {
  border: 1px solid gray;
}

/* Cuando el checkbox está deshabilitado y marcado */
.reservation__label_checkbox:disabled:checked
  + .reservation__pseudo-item_type_checkbox {
  /* Imagen aleatoria como fondo */
  background-image: url(../images/check.svg);
  background-size: cover; /* Ajusta la imagen al tamaño del checkbox */
}

/* Cuando el checkbox está enfocado */
.reservation__label_checkbox:focus + .reservation__pseudo-item_type_checkbox {
  box-shadow: 0 0 5px #fff6c5;
}

.footer {
}
